cache/
.DS_Store
__pycache__
.vscode/

docs/
archive/
tests/
catboost_info/

results/older
results/feature_analysis/
results/clustering/verification/
drivers/
2023_Austin_k3/
2023_Monza_k3/
2023_Suzuka_k3/

races_degradations_VER.png