cache/
.DS_Store
__pycache__
.vscode/

errors.txt
test.py

results/older
results/clustering/2023_Silverstone/drivers/
results/clustering/verification/

races_degradations_VER.png

logs/with_errors

documentation
archive/

catboost_info/