cache/
.DS_Store
__pycache__
.vscode/

errors.txt
clustering_lap_*
cluster_visualizations.py
feature_analysis.py
documentation

test.py
results/cluster_visualizations
results/clustering
results/feature_analysis

results/results_errors_season_old.png
results/season_degradation_VER_old.png
